<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Devin Rousso</string>
	<key>Builder Version</key>
	<string>12604.1.8.1.2</string>
	<key>CFBundleDisplayName</key>
	<string>JSONView</string>
	<key>CFBundleIdentifier</key>
	<string>com.dcrousso.jsonview-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Helps you view JSON documents in the browser.</string>
	<key>DeveloperIdentifier</key>
	<string>Q5M4T22BE9</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://devinrousso.com/projects/JSONView-Safari/SafariUpdate.plist</string>
	<key>Website</key>
	<string>https://devinrousso.com</string>
</dict>
</plist>
